<footer class="footer">
    <div class="f-container">
        <!-- Logo Section -->
        <div class="f-logo">
        <a href="/listings">
        <img src="/images/logo.png" alt="GlobalLodge Logo" class="footer-logo" />
        </a>

        </div>

        <!-- Social Icons Section -->
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <!-- Links & Brand -->
        <div class="f-info-right">
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
            <div class="f-info-brand">&copy; GlobalLodge </div>
        </div>
    </div>
    <hr class="footer-divider" />
        
            <div class="footer-bottom">
                <p>&copy; 2025 GlobalLodge.com – All Rights Reserved.</p>
            </div>
</footer>
