<nav class="navbar navbar-expand-md sticky-top shadow-sm">
  <div class="container-fluid px-md-5">
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-regular fa-compass me-2"></i>
      <img src="/images/logo.png" alt="Logo" class="d-none d-sm-block" style="height: 45px;" />
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Host your home</a>

        <div class="d-flex ms-md-3 gap-2 mt-3 mt-md-0 align-items-center">
          <% if(!currUser) { %>
            <a class="btn btn-outline-dark px-4 rounded-pill" href="/signup"><b>Sign Up</b></a>
            <a class="btn btn-dark px-4 rounded-pill bg-fe424d" href="/login"><b>Log in</b></a>
            <% } %>
              <% if(currUser) { %>
                <div class="dropdown">
                  <button
                    class="btn btn-light rounded-circle shadow-sm d-flex align-items-center justify-content-center p-0"
                    style="width: 42px; height: 42px; background: white; border: 1px solid #eee;" type="button"
                    data-bs-toggle="dropdown">
                    <i class="fa-solid fa-user text-dark"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-3 rounded-4 p-2">
                    <li><a class="dropdown-item py-2 px-4 rounded-3" href="/logout"><i
                          class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
                  </ul>
                </div>
                <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>